OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
TAVILY_API_KEY=

POSTGRES_USER=next-role
POSTGRES_PASSWORD=
POSTGRES_DB=next-role
POSTGRES_LOCAL_PORT=5449
POSTGRES_URI=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_LOCAL_PORT}/${POSTGRES_DB}

REDIS_LOCAL_PORT=6376

LLAMA_CLOUD_API_KEY=

LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY= # gitleaks:allow
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=next-role

LANGGRAPH_LOCAL_PORT=8129

FRONTEND_LOCAL_PORT=3007
NEXT_PUBLIC_LANGGRAPH_DEPLOYMENT_URL=http://127.0.0.1:${LANGGRAPH_LOCAL_PORT}
NEXT_PUBLIC_LANGGRAPH_ASSISTANT_ID=career_agent
NEXT_PUBLIC_LANGSMITH_API_KEY=""

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
